#box1 {background-color: red;
    animation: criss 10s;
    animation-fill-mode: forwards;
}
#box2 {background-color: blue;
    animation:cross 10s;
    animation-fill-mode: forwards;
}
.box {position: relative;
    height: 50px; width: 50px;
}